.wrap {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  button {
    position: absolute;
    top: 20rem;
    left: 20rem;
    z-index: 2;
  }
  .modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: calc(100% - 360rem);
    }
    .right {
      width: 360rem;
      height: 100dvh;
      background-color: #000;
    }
  }
  .swiper {
    width: 100%;
  }
  .swiperSlide {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
