.wrap {
  &:not(:last-child) {
    border-bottom: 1rem solid #333;
  }
  padding: 20rem;
  .top {
    display: flex;
    align-items: center;
    .date {
      margin-left: 10rem;
      color: #666;
    }
  }
  .content {
    margin-top: 20rem;
    &Wrap {
      padding-left: 55rem;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    padding-left: 55rem;
    button {
      padding: 10rem;
      svg {
        width: 20rem;
      }
    }
  }
}
