.wrap {
  display: flex;
  align-items: center;
  border: none;
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
  }
  .name {
    margin-left: 15rem;
    font-size: 18rem;
    font-weight: 700;
  }
  .id {
    margin-left: 10rem;
    color: #666;
  }
}
